<nav class="navbar bg-light mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/favicon.png" width="24" height="24">
    </a>

    <%= form_with model: @new_project, class: "d-flex" do |form| %>
      <div class="input-group has-validation">
        <%= form.text_field :name,
                            class: "form-control me-2 #{@project&.errors&.any? { |e| e.attribute == :internal_id } ? 'is-invalid' : ''}",
                            placeholder: "Enter name...", required: true %>
      </div>

      <button class="btn btn-primary text-nowrap" type="submit">
        <i class="bi bi-journal-plus"></i> New project
      </button>
    <% end %>
  </div>
</nav>

<%= render partial: 'shared/errors', locals: { model: @project } %>

<% if @projects.blank? %>
  <div class="alert alert-info">
    <i class="bi bi-info-circle"></i> No projects yet. Create one to get started.
  </div>
<% else %>
  <table class="table table-hover table-striped">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Created at</th>
      <th scope="col" class="text-end"></th>
    </tr>
    </thead>
    <tbody>
    <% @projects.find_each do |project| %>
      <tr>
        <td>
          <%= link_to project_path(project), class: "btn btn-sm btn-outline-secondary text-wrap" do %>
            <i class="bi bi-journal-text"></i> <%= project.name %>
          <% end %>
        </td>
        <td><%= project.created_at.strftime("%B %d, %Y") %></td>
        <td class="text-end">
          <%= form_with model: @project, method: :delete %>
          <button type="submit" class="btn btn-sm btn-outline-danger">
            <i class="bi bi-trash"></i> Delete
          </button>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>