<nav class="navbar bg-light mb-3">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/favicon.png" width="24" height="24" class="me-3">
      <%= @project.name %>
    </a>
  </div>
</nav>

<%= render partial: 'shared/errors', locals: { model: @project } %>

<%= form_with model: @project, class: "mb-5" do |f| %>
  <div class="mb-3">
    <%= f.label :images, class: 'col-form-label' %>
    <%= f.file_field :images, multiple: true, class: 'form-control' %>
  </div>
  <%= f.submit "Upload and process images", class: "btn btn-primary" %>
<% end %>

<% @project.reload.images.includes(:blob).find_each do |image| %>
  <%= image_tag image.variant(:thumb).processed.url %>
<% end %>
