<% content_for :navbar do %>
  <%= link_to @project.name, project_path(@project), class: "navbar-brand me-auto" %>
<% end %>
<%= render partial: "shared/navbar" %>

<%= render partial: 'shared/errors' %>

<div>
  <%= form_with model: @project, class: "mb-3" do |f| %>
    <div class="input-group">
      <%= f.file_field :images, multiple: true, class: 'form-control' %>
      <button class="btn btn-primary text-nowrap" type="submit">
        <i class="bi bi-plus-square-fill"></i> Add pages
      </button>
    </div>
  <% end %>
</div>