<div hx-get="<%= url_for(only_path: true,
                         controller: :projects,
                         action: :upload_progress_poll,
                         project_id: project) %>"
     hx-trigger="load delay:3s"
     hx-swap="ocr-processing-progress-container"
>
  <h3>Images are being processed</h3>

  <div class="progress"
       role="progressbar"
       aria-label="Animated striped example"
       aria-valuenow="<%= progress %>"
       aria-valuemin="0"
       aria-valuemax="100">
    <div class="progress-bar progress-bar-striped progress-bar-animated"
         style="width: <%= progress %>%">
      <%= processed_image_count %>/<%= image_count %>
    </div>
  </div>
</div>