<% if image.blank? %>
  <div class="alert alert-info">
    <i class="bi bi-info-circle"></i> No documents yet. Upload one to get started.
  </div>
<% else %>

  <div id="project_images_with_texts_ui"
       x-data="{
         text_to_highlight: null
       }">
    <div hx-get="<%= url_for(only_path: true,
                             controller: :images,
                             action: :texts,
                             project_id: image.project,
                             id: image) %>"
         hx-trigger="textUpdated from:body">
      <%= render partial: "projects/show/combined_text_pane", locals: { image: image } %>
    </div>

    <div class="d-none d-sm-none d-md-none d-lg-block"> <!--Don't show this on small screens-->
      <div class="row">
        <!-- image with svg overlay-->
        <div class="col">
          <div class="img-overlay-wrap" style="width: <%= @target_width %>px">
            <%= image_tag image.document.url, class: "img-thumbnail", style: "padding: 0; width: #{@image_display_width}px;" %>
            <svg width="<%= @image_display_width %>" height="<%= @image_display_height %>">
              <% image.texts.each do |text| %>
                <polygon class="svg-box"
                         x-on:click="text_to_highlight = <%= text.id %>"
                         transform="scale(<%= @target_width_ratio %>)"
                         points="<%= text.svg_polygon_points %>"/>
              <% end %>
            </svg>
          </div>
        </div>

        <div class="col-md-12 col-xxl">
          <div id="show-texts_list">
            <%= render partial: "projects/show/texts_list", locals: { image: image } %>
          </div>
        </div>

      </div>
    </div>

  </div>

<% end %>