<% if image.blank? %>
  <div class="alert alert-info">
    <i class="bi bi-info-circle"></i> No documents yet. Upload one to get started.
  </div>
<% else %>

  <div id="project_images_with_texts_ui"
       x-data="{
         text_to_highlight: null
       }">

    <div id="show-combined-text-pane"
      hx-get="<%= url_for(only_path: true,
                             controller: :images,
                             action: :texts,
                             project_id: image.project,
                             id: image) %>"
         hx-trigger="textUpdated from:body">
      <%= render partial: "projects/show/combined_text_pane", locals: { image: image } %>
    </div>

    <div class="d-none d-sm-none d-md-none d-lg-block"> <!--Don't show this on small screens-->
      <div class="row">
        <div class="col">
          <div id="show-image-with-overlay"
            hx-get="<%= url_for(only_path: true,
                                   controller: :images,
                                   action: :overlay,
                                   project_id: image.project,
                                   id: image) %>"
               hx-trigger="textUpdated from:body">
            <%= render partial: 'projects/show/overlay',
                       locals: {
                         image: image,
                         image_display_width: @image_display_width,
                         image_display_height: @image_display_height,
                         target_width_ratio: @target_width_ratio,
                         target_width: @target_width,
                       } %>
          </div>
        </div>

        <div class="col-md-12 col-xxl">
          <div id="show-texts_list">
            <%= render partial: "projects/show/texts_list", locals: { image: image } %>
          </div>
        </div>

      </div>
    </div>

  </div>

<% end %>